<!-- wp:template-part {"slug":"header-alternate","area":"header"} /-->

<!-- wp:pattern {"slug":"unibiz/unibiz-core-home-hero"} /-->

<!-- wp:pattern {"slug":"unibiz/unibiz-core-home-benefits"} /-->

<!-- wp:pattern {"slug":"unibiz/unibiz-core-home-about"} /-->

<!-- wp:pattern {"slug":"unibiz/unibiz-core-home-services"} /-->

<!-- wp:pattern {"slug":"unibiz/unibiz-core-home-clients"} /-->

<!-- wp:pattern {"slug":"unibiz/unibiz-core-home-authority"} /-->

<!-- wp:pattern {"slug":"unibiz/unibiz-core-home-testimonials"} /-->

<!-- wp:pattern {"slug":"unibiz/unibiz-core-home-blog"} /-->

<!-- wp:template-part {"slug":"footer-alternate","area":"footer"} /-->